.content-block {
    padding: 20px;
    margin-top: auto; /* 让内容块下移，避免与顶栏重叠 */
}

.uploader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.uploader-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc; /* 使用实际头像的URL或颜色 */
    margin-right: 10px;
}

.container,.media-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 项目之间的间距 */
}

.item {
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 10px; /* 圆角 */
    padding: 20px; /* 内边距 */

}

h3 {
    margin: 0; /* 清除标题的默认边距 */
}

p {
    margin: 10px 0; /* 设置描述段落的边距 */
}

.media-player {
    display: none; /* 初始状态为隐藏 */
    transition: display 0.3s ease; /* 添加过渡效果 */
}


.comment-section {
    bottom: 0;
    width: 100%;
    border: none;
    height: 1000px !important;
}