/* 主要页面布局 */
body {
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
    background: #f7f9ff;
    color: #637d9e;
    font-size: 16px;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'PingFang SC', 'Segoe UI Variable Display', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Yu Gothic UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://gstatic.loli.net/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #637d9e;
}

img {
    max-width: 100%;
    height: auto;
}

a,li {
    overflow-wrap: break-word; /* 文本超出容器时换行 */
}

.searcher-container {
    display: flex;
}

.logo {
    display: block;
    transition-duration: 0.4s;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.logo {
    width: auto; /* 让logo宽度自适应 */
    height: auto;

}
.logo::after {
    box-shadow: 0 4px 4px rgba(198, 214, 255, 0.76);
}

.logo img {
    width: auto; /* 设置logo的宽度为父元素的100% */
    height: 3.5em; /* 高度自适应，以保持图像比例 */
    user-select: none; /* 禁止图像被选中 */
}

.logo img:hover {
    transform: scale(1.01);
    transition-duration: 0.4s;
}
.logo img:active {
    transform: scale(.98);
    transition-duration: 0.3s;
}

.search-input{
    width: 200%;
    height: 100%;
    min-height: 0;
    padding: 0.4em 3.7em 0.3em 1.2em;
    border: 0;
    margin: 0;
    background: white;
    font-family: inherit;
    box-shadow: 0 0 2px #87a9d8;
}

.search-input:hover {
    transform: scale(0.97);
}
.search-input:active {
    transform: scale(0.96);
}

/* 顶栏样式 */
/* 顶栏样式 */
.top-bar {
    top: 0;
    z-index: 2;
    height: 3.5em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9ebff;
    box-shadow: 0 0 1em #87a9d8;
    color: #637d9e;
    padding: 0 1.5em; /* 减少左右 padding */
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-username {
    margin-right: 10px;
}

.top-bar-header-avatar {
     margin-right: 5px;
}

/* 隐藏下拉菜单 */
.top-bar-header-avatar-box .dropdown-menu {
    display: none;
}

/* 隐藏下拉菜单 */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0; /* 初始透明度为0 */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* 添加过渡效果 */
    transition-duration: 1s;
    border-radius: 8px;
}

/* 将下拉菜单显示为块级元素，并设置鼠标悬停时的样式 */
.dropdown-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}
.dropdown-menu a:hover {
    background-color: rgba(180, 180, 180, 0.2);
    box-shadow: 0 4px 4px 0 rgba(68, 68, 68, 0.2);
    transition-duration: 1s;
}

/* 当鼠标悬停在头像上时显示下拉菜单 */
.top-bar-header-avatar-box:hover .dropdown-menu {
    display: block;
    opacity: 1; /* 淡入效果 */
    visibility: visible; /* 显示菜单 */
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
}

/* 表头样式 */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 第一行背景色 */
tr:first-child {
    background-color: #f9f9f9;
}

/* 其他单元格样式 */
tr:not(:first-child) td {

}


/* 鼠标悬停效果 */
tr:hover {
    background-color: #f2f2f2;
}

/* 单元格样式 */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 响应式设计 */
@media screen and (max-width: 600px) {
    .table-container {
        overflow-x: auto; /* 添加水平滚动条 */
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 6px;
    }
}


/* 左侧栏样式 */
.left-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 5em;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d9ebff;
    box-shadow: 0 0 1em #87a9d8;
    word-wrap: break-word;
    text-align: center;
    margin-right: 6em; /* 设置右边距等于左侧栏的宽度 */
    left: 0rem;
    border-radius: 8px;
}

/* 横幅样式 */
.top-banner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8.5em;
    padding: 3em 0 2em 0;
    box-shadow: 0 0 1em #87a9d8;
    position: relative;
    /*background: url(https://img.paulzzh.com/touhou/random) left top;*/
    background: url(https://www.dmoe.cc/random.php) left top;
    background-size: cover;
}

.button-div:hover {
    /*width: 80%;
    height: 80%;*/
}

.button {
    background-color: #00b3ff;
    padding: 4px 18px;
}

.button:hover {
    background-color: #00eaff;
    transform: scale(.95);
    box-shadow: 0 9px 9px rgba(114, 153, 251, 0.3);
}

.button-logout,.username-a {
    color: #637d9e;
    transform: scale(1);
}

.button-logout:hover,.username-a:hover {
    color: #52969d;
    transform: scale(.98);
    text-shadow: 0 9px 9px rgba(114, 153, 251, 0.3);
    transition-duration: 0.4s;
}

.HEADER-AVATAR-DIV {
    width: 30px;
    height: 30px;
}

.HEADER-AVATAR-DIV:hover {
    transform: scale(.95);
    box-shadow: 0 9px 9px rgba(114, 153, 251, 0.3);
    transition-duration: 0.4s;
}

.media-title:hover {
}

.svg_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 6px 0;
    border-radius: 10px;
    width: auto; /* 设置宽度自动调整 */
    height: auto; /* 设置高度自动调整 */
    max-width: 100%; /* 最大宽度限制为父元素的宽度 */
    max-height: 100%; /* 最大高度限制为父元素的高度 */
    border: none;
    /*background-color: #d9ebff;*/
    font-size: 14px;
    z-index: 1;
    scale: 0.93;
    transition: all 0.2s;
}

.svg_button:hover {
    background-color: #c8d9eb; /* 鼠标悬停时的背景颜色 */
    scale: 0.99; /* 鼠标悬停时放大按钮 */
    z-index: 0;
}

.svg_button:active {
    scale: 0.98; /* 鼠标悬停时缩小按钮 */
}

.svg_button img {
    width: 50%; /* 图像宽度占满按钮 */
    height: 50%; /* 图像高度占满按钮 */
    max-width: 100%; /* 图像最大宽度为按钮的100% */
    max-height: 100%; /* 图像最大高度为按钮的100% */
}

.svg_button span {
    margin-top: 8px; /* 设置文字与图像之间的间距 */
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.sidebar-sub {
    height: 100%;
    padding: 6px;
    margin-top: 3.5em;
    border-radius: 8px; /* 输入框圆角 */
}

/* 输入框样式 */
.search-input {
    padding: 8px 10px; /* 输入框内边距 */
    border: 1px solid #ccc; /* 输入框边框 */
    border-radius: 8px; /* 输入框圆角 */
    font-size: 16px; /* 输入框文字大小 */
    width: 200px; /* 输入框宽度 */
    max-width: 75%;
}

/* 搜索按钮样式 */
.search-button {
    padding: 8px 12px; /* 按钮内边距 */
    background-color: #3094ff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    border: none; /* 去除按钮边框 */
    border-radius: 8px; /* 按钮圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: scale 200ms;
}

.search-button:hover {
    background-color: #007bff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    scale: 1.02;
}

.search-button:active {
    scale: 0.98;
}

/* 页面内容样式 */
.content {
    /*padding: 20px;*/
    margin-left: 5em; /* 为了避免左侧栏遮挡页面内容，需要设置与左侧栏相同的宽度的左边距 */
}

.content-text h4:before {
    border: none;
    content: "";
    width: 0em;
    height: 0em;
    border-radius: 0em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0em;
    margin-top: 0px;
}

h4:hover {
    transform: scale(1.00);
    transition-duration: 0.2s;
}
h4:active {
    transform: scale(1.01);
    transition-duration: 0.2s;
}

.paragraph_line {
    border-bottom: #d5eaf6 2px solid;
    padding-bottom: 0.5em;
}

.paragraph_line2 {
    border-bottom: #69ade1 2px solid;
    padding-bottom: 0.1em;
}

.paragraph_line3 {
    border-bottom: #637d9e 2px solid;
    padding-bottom: 0.1em;
}

h4:before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: #6dcbe6 3px solid;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -2px;
}

.content-outside-box {
    background: #ffffff;
    background-size: cover;
}

.content-box {
    background-color: rgba(0, 0, 0, 0);
    flex: 2;
    padding: 2em;
    padding-top: 1em;
    /*line-height: 2em;*/
    position: relative;
}

time {
    color: #ccc;
}

/* 底栏样式 */
.bottom-bar {
    z-index: 9999; /* 设置较高的 z-index 值 */
    background-color: #282f37;
    color: #cccccc;
    /*text-align: center;*/
    align-items: center;
    display: flex;
    height: 64px; /* 固定高度，单位可以根据需要调整 */
    position: fixed; /* 如果您希望底部栏固定在页面底部，可以将 position 设置为 fixed */
    bottom: 0;
    width: 100%;
    justify-content: space-between; /* 将左右两个子元素分别放置在底栏的两侧 */
    padding: 0 16px;

}

.left-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cccccc;
    font-size: 14px;
}

.left-bottom-text {
    line-height: 1.5em;
}

.left-bottom-text a:hover {
    text-shadow: 0 9px 9px rgba(251, 176, 114, 0.3);
}

.right-bottom {
    display: flex;
    justify-content: flex-end; /* 右对齐 */
    color: #cccccc;
    flex-direction: column; /* 垂直方向排列 */
}

.right-bottom-box span {
    order: -1; /* 设置传送门在上 */
    font-size: large;
}

.right-bottom-box {
    display: flex;
    justify-content: flex-end; /* 内部元素右对齐 */
    align-items: center; /* 垂直居中对齐 */
}

.bottom-icon {
    width: 45px;
    height: 45px;
}

.right-bottom-box a {
    margin-right: 10px; /* 设置右边间距 */
    color: #cccccc;
    font-size: medium;
 }

.right-bottom-box a:hover {
    margin-right: 10px; /* 设置右边间距 */
    color: #f2b140;
    font-size: medium;
    text-shadow: 0 9px 9px rgba(251, 176, 114, 0.3);
}

/* 子页面布局 */


/*视频播放器*/
.video-player {
    display: block; /* 将视频元素设置为块级元素 */
    margin: 0 auto; /* 设置左右外边距为自动，实现居中 */
    max-width: 60%; /* 设置最大宽度为100%，以确保视频不会超出其容器 */
    width: 50%; /* 设置最大宽度为100%，以确保视频不会超出其容器 */
    height: 50%; /* 让视频的高度自适应，根据宽度进行缩放 */
    max-height: 60%; /* 让视频的高度自适应，根据宽度进行缩放 */
    border-radius: 10px; /* 添加圆角，根据需要调整数值 */
}
.artplayer {
    /*width: 85.3vh;*/
    height: 48vh;
    display: block; /* 将视频元素设置为块级元素 */
    margin: 0 auto; /* 设置左右外边距为自动，实现居中 */
    border-radius: 10px; /* 添加圆角，根据需要调整数值 */
}


/* 视频专区页面布局 */
.media-cards-container,
.assetsContainer,
.gameContainer,
.videoContainer,
.readContainer,
.softwareContainer,
.projectContainer {
    display: flex;
    flex-wrap: wrap; /* 设置弹性容器换行 */
    /*justify-content: space-between;*/ /* 在弹性容器内左右分配项目 */
    margin: 0 0rem; /* 去除两侧的默认间距 */
}

.media-cover {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9; /* 强制视频封面保持16:9的纵横比 */
}

.media-card {
    box-shadow: 0 2px 2px rgba(82, 133, 255, 0.3)
}

.media-card > a > img {
    user-select: none;
}

.media-card {
    width: 25%; /* 设置视频卡片宽度为父容器宽度的一半减去间距 */
    margin-bottom: 1rem; /* 设置视频卡片之间的垂直间距 */
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box; /* 让元素的宽度包含边框和内边距 */
    padding: 0 4px; /* 添加间距 */
}
.media-card:hover {
    transform: scale(.98);
    box-shadow: 0 9px 9px rgba(114, 153, 251, 0.3);
    transition-duration: 0.2s; /* 过渡效果持续时间 */
}
.media-card:active {
    transform: scale(.95);
    box-shadow: 0 9px 9px rgba(114, 153, 251, 0.3);
    transition-duration: 0.2s; /* 过渡效果持续时间 */
}
.media-card a img {
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .media-cards-container,
    .assetsContainer,
    .gameContainer,
    .videoContainer,
    .readContainer,
    .softwareContainer,
    .projectContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .media-card {
        width: 33.33%; /* 当屏幕宽度小于 768px 时，将宽度设置为 50%，即2等分 */
    }
}
@media screen and (max-width: 624px) {
    .media-card {
        width: 50%; /* 当屏幕宽度小于 624px 时，将宽度设置为 33%，即3等分 */
    }
}
@media screen and (max-width: 480px) {
    .media-card {
        width: 100%; /* 当屏幕宽度小于 480px 时，将宽度设置为 100%，即单一 */
    }
}

.media-info {
    padding: 5px;
}

.uploader-info {
    display: flex;
    align-items: center; /* 让头像和文字垂直居中 */
}

.uploader-avatar {
    width: 20px; /* 设置头像宽度 */
    height: 20px; /* 设置头像高度 */
    border-radius: 50%; /* 将头像设置为圆形 */
    margin-right: 10px; /* 设置头像与文字的间距 */
}

.uploader-name {
    margin: 0;
    /*font-size: 30px;*/
    color: #666;
}

.media-title {
    margin: 10px 0 0; /* 设置标题与上传者信息的间距 */
    /*font-size: 30px;*/
    color: #333;
}
/* 缩小屏幕时的样式 */
@media screen and (max-width: 945px) {
    .top-bar {
        padding: 0 1em; /* 进一步减少左右 padding */
        display: flex; /* 使用 flex 布局 */
        justify-content: space-between; /* 在主轴上平均分配空间，元素往左右靠 */
        align-items: center; /* 交叉轴方向居中对齐 */
    }
    .content-bar {
        display: block;
        width: 100%;
    }
    .content-box {
        display: block;
        padding: 0;
    }
    .boxBar0 {
        width: 100%;
    }

    .logo {
    }
    .logo > img {
        height: 2.5em; /* 缩小logo图片大小 */
        display: none;
    }

    .top-bar-username {
        display: none; /* 在小屏幕下隐藏用户名 */
    }

    .search-input {
        width: 60%;
        max-width: 200%;
    }

    .searcher-container {
        display: flex; /* 使用 flex 布局 */
        justify-content: flex-start; /* 主轴方向向左对齐 */
        align-items: center; /* 交叉轴方向居中对齐 */
    }

    .button-div {
        transform: scale(0.78);
    }
    .search-button {
        transform: scale(0.78);
    }
    .button-logout {
        transform: scale(0.78);
    }
}

.menu_button {
    z-index: 50;
}
.menu_svgButton {
    background-color: #24a2ff;
    box-shadow: 0 2px 2px rgb(40 40 40 / 76%);
    scale: 1;
    margin-bottom: 1rem;

}
.menu_svgButton:hover {
    background-color: #5cc8ff;
}
