/* 主要页面布局 */
body {
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
    background: #f7f9ff;
    color: #637d9e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #637d9e;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.logo {
    width: auto; /* 让logo宽度自适应 */
}

.logo img {
    width: auto; /* 设置logo的宽度为父元素的100% */
    height: 3.5em; /* 高度自适应，以保持图像比例 */
    user-select: none; /* 禁止图像被选中 */
}

/* 顶栏样式 */
.top-bar {
    top: 0; /* 元素固定在视口的顶部 */
    z-index: 2;
    height: 3.5em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9ebff;
    box-shadow: 0 0 1em #87a9d8;
    color: #637d9e;
    padding: 0 3em 0 1.75em;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-username {
    margin-right: 10px;
}

.top-bar-header-avatar {
     margin-right: 5px;
 }
/* 左侧栏样式 */
.left-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d9ebff;
    box-shadow: 0 0 1em #87a9d8;
    word-wrap: break-word;
    text-align: center;
    margin-right: 6em; /* 设置右边距等于左侧栏的宽度 */
}

/* 横幅样式 */
.top-banner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8.5em;
    padding: 3em 0 2em 0;
    box-shadow: 0 0 1em #87a9d8;
    position: relative;
    /*background: url(https://img.paulzzh.com/touhou/random) left top;*/
    background: url(https://www.dmoe.cc/random.php) left top;
    background-size: cover;
}

.button-div:hover {
    /*width: 80%;
    height: 80%;*/
}

.button {
    background-color: #00b3ff;
    padding: 4px 18px;
}

.button:hover {
    background-color: #00eaff;
    padding: 3px 14px;
}

.button-logout,.username-a {
    color: #637d9e;
}

.button-logout:hover,.username-a:hover {
    color: #52969d;
    font-size: 15px;
}

.HEADER-AVATAR-DIV {
    width: 30px;
    height: 30px;
}

.HEADER-AVATAR-DIV:hover {
    width: 26px;
    height: 26px;
}

.svg_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: auto; /* 设置宽度自动调整 */
    height: auto; /* 设置高度自动调整 */
    max-width: 100%; /* 最大宽度限制为父元素的宽度 */
    max-height: 100%; /* 最大高度限制为父元素的高度 */
    border: none;
    background-color: #d9ebff;
    font-size: 14px;
    transition: scale 200ms; /* 缩放过渡动画 */
}

.svg_button:hover {
    background-color: #c8d9eb; /* 鼠标悬停时的背景颜色 */
    scale: 1.02; /* 鼠标悬停时放大按钮 */
}

.svg_button:active {
    scale: 0.98; /* 鼠标悬停时缩小按钮 */
}

.svg_button img {
    width: 50%; /* 图像宽度占满按钮 */
    height: 50%; /* 图像高度占满按钮 */
    max-width: 100%; /* 图像最大宽度为按钮的100% */
    max-height: 100%; /* 图像最大高度为按钮的100% */
}

.svg_button span {
    margin-top: 8px; /* 设置文字与图像之间的间距 */
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.sidebar-sub {
    height: 100%;
    padding: 6px;
    margin-top: 3.5em;
}

/* 输入框样式 */
.search-input {
    padding: 8px 10px; /* 输入框内边距 */
    border: 1px solid #ccc; /* 输入框边框 */
    border-radius: 8px; /* 输入框圆角 */
    font-size: 16px; /* 输入框文字大小 */
    width: 200px; /* 输入框宽度 */
    max-width: 75%;
}

/* 搜索按钮样式 */
.search-button {
    padding: 8px 12px; /* 按钮内边距 */
    background-color: #3094ff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    border: none; /* 去除按钮边框 */
    border-radius: 8px; /* 按钮圆角 */
    cursor: pointer; /* 鼠标指针样式 */
}

.search-button:hover {
    padding: 6px 10px; /* 按钮内边距 */
    background-color: #007bff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
}

/* 页面内容样式 */
.content {
    /*padding: 20px;*/
    margin-left: 5em; /* 为了避免左侧栏遮挡页面内容，需要设置与左侧栏相同的宽度的左边距 */
}

.content-text h4:before {
    border: none;
    content: "";
    width: 0em;
    height: 0em;
    border-radius: 0em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0em;
    margin-top: 0px;
}

.paragraph_line {
    border-bottom: #d5eaf6 2px solid;
    padding-bottom: 0.5em;
}

.paragraph_line2 {
    border-bottom: #69ade1 2px solid;
    padding-bottom: 0.1em;
}

.paragraph_line3 {
    border-bottom: #637d9e 2px solid;
    padding-bottom: 0.1em;
}

h4:before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: #6de68b 3px solid;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -2px;
}

.content-outside-box {
    background: #ffffff;
    background-size: cover;
}

.content-box {
    background-color: #ffffff;
    flex: 2;
    padding: 2em;
    padding-top: 1em;
    /*line-height: 2em;*/
    position: relative;
}

time {
    color: #ccc;
}

/* 底栏样式 */
.bottom-bar {
    z-index: 9999; /* 设置较高的 z-index 值 */
    background-color: #282f37;
    color: #cccccc;
    /*text-align: center;*/
    align-items: center;
    display: flex;
    height: 50px; /* 固定高度，单位可以根据需要调整 */
    position: fixed; /* 如果您希望底部栏固定在页面底部，可以将 position 设置为 fixed */
    bottom: 0;
    width: 100%;
    justify-content: space-between; /* 将左右两个子元素分别放置在底栏的两侧 */

}

.left-bottom {
    display: flex;
    align-items: center;
    color: #cccccc;
}

.right-bottom {
    display: flex;
    justify-content: flex-end; /* 右对齐 */
    color: #cccccc;
    flex-direction: column; /* 垂直方向排列 */
}

.right-bottom-box span {
    order: -1; /* 设置传送门在上 */
    font-size: large;
}

.right-bottom-box {
    display: flex;
    justify-content: flex-end; /* 内部元素右对齐 */
    align-items: center; /* 垂直居中对齐 */
}

.bottom-icon {
    width: 45px;
    height: 45px;
}

.right-bottom-box a {
    margin-right: 10px; /* 设置右边间距 */
    color: #cccccc;
    font-size: medium;
 }

.right-bottom-box a:hover {
    margin-right: 10px; /* 设置右边间距 */
    color: #f2b140;
    font-size: medium;
}

/* 子页面布局 */


/*视频播放器*/
.video-player {
    display: block; /* 将视频元素设置为块级元素 */
    margin: 0 auto; /* 设置左右外边距为自动，实现居中 */
    max-width: 60%; /* 设置最大宽度为100%，以确保视频不会超出其容器 */
    width: 50%; /* 设置最大宽度为100%，以确保视频不会超出其容器 */
    height: 50%; /* 让视频的高度自适应，根据宽度进行缩放 */
    max-height: 60%; /* 让视频的高度自适应，根据宽度进行缩放 */
    border-radius: 10px; /* 添加圆角，根据需要调整数值 */
}


/* 视频专区页面布局 */
.media-cards-container {
    display: flex;
    flex-wrap: wrap; /* 设置弹性容器换行 */
    /*justify-content: space-between;*/ /* 在弹性容器内左右分配项目 */
    margin: 0 -0px; /* 去除两侧的默认间距 */
}

.media-cover {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9; /* 强制视频封面保持16:9的纵横比 */
}

.media-card {
    width: 25%; /* 设置视频卡片宽度为父容器宽度的一半减去间距 */
    margin-bottom: 10px; /* 设置视频卡片之间的垂直间距 */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box; /* 让元素的宽度包含边框和内边距 */
    padding: 0 4px; /* 添加间距 */
}

.media-info {
    padding: 5px;
}

.uploader-info {
    display: flex;
    align-items: center; /* 让头像和文字垂直居中 */
}

.uploader-avatar {
    width: 20px; /* 设置头像宽度 */
    height: 20px; /* 设置头像高度 */
    border-radius: 50%; /* 将头像设置为圆形 */
    margin-right: 10px; /* 设置头像与文字的间距 */
}

.uploader-name {
    margin: 0;
    /*font-size: 30px;*/
    color: #666;
}

.media-title {
    margin: 10px 0 0; /* 设置标题与上传者信息的间距 */
    /*font-size: 30px;*/
    color: #333;
}