.jss1 {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
}
.jss1:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
}
.jss1.jss21 {
    color: rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
    .jss1:hover {
        background-color: transparent;
    }
}
.jss1:hover.jss21 {
    background-color: transparent;
}
.jss2 {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.jss3 {
    padding: 6px 8px;
}
.jss4 {
    color: #637d9e;
}
.jss4:hover {
    background-color: rgba(99, 125, 158, 0.08);
}
@media (hover: none) {
    .jss4:hover {
        background-color: transparent;
    }
}
.jss5 {
    color: #637d9e;
}
.jss5:hover {
    background-color: rgba(99, 125, 158, 0.08);
}
@media (hover: none) {
    .jss5:hover {
        background-color: transparent;
    }
}
.jss9 {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 16px;
}
.jss10 {
    color: #637d9e;
    border: 1px solid rgba(99, 125, 158, 0.5);
}
.jss10:hover {
    border: 1px solid #637d9e;
    background-color: rgba(99, 125, 158, 0.08);
}
.jss10.jss21 {
    border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
    .jss10:hover {
        background-color: transparent;
    }
}
.jss11 {
    color: #637d9e;
    border: 1px solid rgba(99, 125, 158, 0.5);
}
.jss11:hover {
    border: 1px solid #637d9e;
    background-color: rgba(99, 125, 158, 0.08);
}
.jss11.jss21 {
    border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
    .jss11:hover {
        background-color: transparent;
    }
}
.jss12 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
}
.jss12.jss20 {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
.jss12:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}
.jss12.jss21 {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}
.jss12:hover {
    background-color: #d5d5d5;
}
@media (hover: none) {
    .jss12:hover {
        background-color: #e0e0e0;
    }
}
.jss12:hover.jss21 {
    background-color: rgba(0, 0, 0, 0.12);
}
.jss13 {
    color: #fff;
    background-color: #637d9e;
}
.jss13:hover {
    background-color: #45576e;
}
@media (hover: none) {
    .jss13:hover {
        background-color: #637d9e;
    }
}
.jss14 {
    color: #fff;
    background-color: #637d9e;
}
.jss14:hover {
    background-color: #45576e;
}
@media (hover: none) {
    .jss14:hover {
        background-color: #637d9e;
    }
}
.jss18 {
    width: 56px;
    height: 56px;
    padding: 0;
    min-width: 0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    border-radius: 50%;
}
.jss18:active {
    box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
}
.jss19 {
    width: auto;
    height: 48px;
    padding: 0 16px;
    min-width: 48px;
    border-radius: 24px;
}
.jss22 {
    color: inherit;
}
.jss23 {
    width: 40px;
    height: 40px;
}
.jss24 {
    padding: 4px 8px;
    min-width: 64px;
    font-size: 0.8125rem;
}
.jss25 {
    padding: 8px 24px;
    font-size: 0.9375rem;
}
.jss26 {
    width: 100%;
}
