.jss39 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}
.jss40 {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
}
.jss41 {
    opacity: 0.3;
    transform: scale(1);
    animation: mui-ripple-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: mui-ripple-enter;
}
.jss42 {
    animation-duration: 200ms;
}
.jss43 {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    border-radius: 50%;
    background-color: currentColor;
}
.jss44 {
    opacity: 0;
    animation: mui-ripple-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: mui-ripple-exit;
}
.jss45 {
    top: 0;
    left: 0;
    position: absolute;
    animation: mui-ripple-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
    animation-name: mui-ripple-pulsate;
}
@-webkit-keyframes mui-ripple-enter {
    0% {
        opacity: 0.1;
        transform: scale(0);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}
@-webkit-keyframes mui-ripple-exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes mui-ripple-pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.92);
    }
    100% {
        transform: scale(1);
    }
}
