body {
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: large;
    background: #f7f9ff;
}

.top-bar {
    background-color: #d9ebff;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return-button {
    cursor: pointer;
}

.content-block {
    padding: 20px;
    margin-top: auto; /* 让内容块下移，避免与顶栏重叠 */
}

.uploader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.uploader-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc; /* 使用实际头像的URL或颜色 */
    margin-right: 10px;
}

.article-content {
    /* 根据需要设置文章内容的样式 */
}

.comment-section {
    bottom: 0;
    width: 100%;
    border: none;
    height: 1000px !important;
}

a {
    text-decoration: none;
}